node_modules
.next
.env
.env.local
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts
android.keystore
app/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
manifest-checksum.txt
settings.gradle
store_icon.png
